body{
    margin: 0px;

    font-family: 'Oswald', sans-serif;
}
.h1class{

    color: chocolate;
    margin: 50%left;
    font-size: 65px;
    
}
h2{


    font-size: 55px;
}
.myspan{
    color: yellow;
}
.half-width{

    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.sectionclass{
background-image: url("images/top-banner.png");
background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 50px;
}
.btnclass{
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 20,30;
    border-radius: 3px;
    background-image: linear-gradient(lightSalmon,tomato);
}


.sectionclass2{

    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.me{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5;
    height: 80%;
}
.section3{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#mymy{
    border-left: 7 solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#myme{
    border-left: 7 solid;
    border-image: linear-gradient(180deg,rgb(102, 93, 230),rgb(83, 202, 231));
    border-image-slice: 1;
}